<div>
  <div>
    <h1>
      Ingresar
    </h1>
    <form onsubmit='login(event)'>
      <input id='form-email' type='text' name='form-email' placeholder='email' />
      <input id='form-password' type='password' name='form-password' placeholder='password' />
      <input type='submit' value='Login' />
    </form>
  </div>
</div>
<div class="login">
  <a href="api/auth/github">
   <button>
    GitHub
  </button>
  </a>
 
</div>
<script src='js/login.js'></script>